body {
  background-color: rgb(186, 217, 243);
}

h3 {
  text-align: center;
}

header {
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  display: none;
}

p,
title,
h1,
h3,
h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}

#outer {
  width: 100%;
  text-align: center;
}

.btn2 {
  display: inline-block;
  /* margin-left: 50%;
  margin-right: 25%; */
  background-color: rgb(247, 200, 72);
  font-family: "Lucida Console", "Courier New", monospace;
}

.btn4 {
  margin-left: 50%;
  margin-right: 25%;
  background-color: rgb(247, 200, 72);
  font-family: "Lucida Console", "Courier New", monospace;
}

.btn5 {
  display: inline-block;
  border-radius: 50px;
  border-color: rgb(247, 200, 72);
  background-color: #ffffff;

  font-family: "Lucida Console", "Courier New", monospace;
}

.btn6 {
  display: inline-block;
  border-radius: 50px;
  border-color: rgb(247, 200, 72);
  background-color: rgb(247, 200, 72);
  font-family: "Lucida Console", "Courier New", monospace;
}


.navbar ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  overflow: auto;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  float: left;
  background-color: #555;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgba(0, 5, 2, 0.966);
}
.navbar .active {
  background-color: rgb(241, 179, 43);
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#currentDate {
  padding-top: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.tableClass {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
}

.healthClass{
  margin-left: 32%;
  margin-right: 35%;
  height: 500px;
  width: 500px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

}

.attendButton,
.healthButton,
.directButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  position: relative;
}

/* Make the image responsive */
.attendButton img,
.healthButton img,
.directButton img {
  width: 100%;
  height: auto;
}

.attendButton .attendbtn,
.healthButton .healthbtn,
.directButton .directbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  color: white;
  font-size: 16px;
  padding: 80px 150px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.attendButton .attendbtn:hover,
.healthButton .healthbtn:hover,
.directButton .directbtn:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

#title,
#loginForm,
#signUpForm,
#homePage {
  text-align: center;
}

#notExistingUser:hover,
#isExistingUser:hover {
  color: blue;
}

table {
  text-align: center;
  display: block;
}

td,
th {
  border: 1px solid rgb(7, 5, 2);
  text-align: left;
  padding: 20px 80px 20px 80px;
}

/* student directory styling */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

#studentList li {
  padding: 5px;
  border: 1px solid rgb(7, 5, 2);
}

#studentList i {
  padding: 20px;
}

#studentList ul {
  list-style-type: none;
}

#studentList {
  overflow-y: scroll;
  height: 400px;
  width: 650px;
  margin: 0 auto;
}

i.fa.fa-envelope-square {
  color: white;
}

i.fa.fa-heart {
  color: red;
}

#schedule {
  float: right;
  padding-top: 15px;
  width: 80px;
  height: 35px;
  text-align: center;
}

/* Popup Styling */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#mailButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 18px;
  border: 2px solid #222;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
}

#email-address {
  width: 360px;
}
/* #email-body {
  height: 145px;
  width: 460px;
} */

#send-attach-div {
  float: left;
}

#clearMailBtn {
  float: right;
}
#name1 {
  transform: scale(2);
}

/* #inPersonBtn{
  background-color: green;
} */

/* Auto complete search styling */
.autocomplete {
  background: #fff;
  position: relative;
  width: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}
.autocomplete .close {
  position: absolute;
  font-size: 13px;
  z-index: 10;
  top: 10px;
  left: calc(100% - 50px);
  color: #aaa;
  cursor: pointer;
  display: none;
}
.autocomplete .close.visible {
  display: block;
}
.dialog {
  width: 100%;
  display: none;
  min-height: 40px;
  max-height: 330px;
  overflow: scroll;
  border-top: 1px solid #f4f4f4;
}
.dialog.open {
  display: block;
}
.dialog div {
  padding: 20px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}
.dialog div:hover {
  background: #f2f2f2;
}
#searchBtn {
  max-height: 2.5em;
}
